.at-outercontainer {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #010b1f; */
  background-color: #030306;;
}

.at-innercontainer {
  background-image: url('/atbck.jpg'); /* Path relative to the public folder */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  
 */
 /* box-shadow: 0px 0px 10px #FFFF; */

 box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
  color: #a0dafd;
  width: 60%;
  height: 60%;
  margin: auto;
  border-radius: 10px;
}

.at-header{
   padding: 10px;
  /* background-color: #04194375; */
  color: #a0dafd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 10%;
}
.at-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70%;
}



.at-bd-title{
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  text-align: center;
}

.at-bd-footer{
  display: flex;
  justify-content: center;
}

.input-container{
    width: 20rem;

}

.rubik-doodle {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, -0.154rem + 4.615vw, 4rem);
}


@media (max-width: 862px) {
  .at-innercontainer{
    width:100%;
    margin:10px
  }
  .at-innercontainer .at-body .MuiTextField-root{
    width: 300px;
  }
  .at-innercontainer .at-body .MuiButton-root{
    width: 300px;
  }
}
